<aside class="sidebar-nav-wrapper">
  <div class="navbar-logo">
  <!-- <a href="index.html">
    <img src="assets/images/logo/logo.svg" alt="logo" />
  </a> -->
  <h1 style="color: #8a32fc;">Monety</h1>
  </div>
  <nav class="sidebar-nav">
  <ul>

    <span class="divider"></span>

    <li class="nav-item">
      <a href="/">
        <span class="icon">
          <i class="lni lni-home"></i>
        </span>
        <span class="text">Home</span>
      </a>
    </li>

    <span class="divider"><hr /></span>

    <li class="nav-item">
      <a href="/dashboard">
        <span class="icon">
          <i class="lni lni-dashboard"></i>
        </span>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <span class="divider"><hr /></span>

    <li class="nav-item">
      <a href="/login">
        <span class="icon">
          <i class="lni lni-user"></i>
        </span>
        <span class="text">Entrar</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/signup">
        <span class="icon">
          <i class="lni lni-users"></i>
        </span>
        <span class="text">Registrar-se</span>
      </a>
    </li>

  </ul>
  </nav>
</aside>