<div class="col-lg-8 mx-auto px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-2 fw-bold roboto-black">Monetize todas as <span style="font-weight: 300;">suas visualizações e downloads!</span></h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4 roboto-light">Ganhe dinheiro com cada mil visualizações! Nosso sistema de monetização paga a cada 1.000 visualizações. Além disso, oferecemos um dashboard completo para que você acompanhe seus ganhos em tempo real. E para facilitar ainda mais, disponibilizamos saques através de Pix e criptomoedas.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="main-btn primary-btn btn-hover" (click)="Login()">Entrar</button>
            <button type="button" class="main-btn dark-btn btn-hover" (click)="Registrar()">Começe a Faturar</button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="../../../assets/images/home-print.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="lni lni-money-protection"></i>
            </div>
            <div>
                <h2>Indique e Ganhe!</h2>
                <p>Ganhe ainda mais indicando amigos para nossa plataforma! Cada novo usuário indicado pode significar mais lucro para você. Aproveite esta oportunidade para aumentar seus ganhos de forma rápida e fácil.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="lni lni-money-protection"></i>
            </div>
            <div>
                <h2>Saque no PIX!</h2>
                <p>Facilitamos o acesso aos seus ganhos oferecendo saques via PIX. Receba seu pagamento de forma rápida e segura, direto na sua conta bancária. Sem burocracias, sem esperas. Saque quando quiser, de forma conveniente.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="lni lni-money-protection"></i>
            </div>
            <div>
                <h2>Saque em Cripto!</h2>
                <p>Para os entusiastas das criptomoedas, oferecemos a opção de saque em criptomoedas. Receba seus ganhos diretamente em sua carteira de criptomoedas preferida. Mais uma forma flexível de acessar seus lucros.</p>
            </div>
        </div>
    </div>
</div>


<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Comece a ganhar agora!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 roboto-light text-gray">Aproveite todas as vantagens da nossa plataforma e comece a ganhar dinheiro hoje mesmo! Com a nossa solução de monetização, você pode transformar suas visualizações em lucro. Cadastre-se agora e descubra como maximizar seus ganhos de forma simples e eficaz.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" (click)="Registrar()" class="main-btn primary-btn btn-hover fw-bold">Cadastre-se</button>
                <button type="button" class="main-btn ligth-btn btn-hover">Saiba mais</button>
            </div>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://s3.amazonaws.com/designs.ai.prod.assets/images/affiliatepage-heroimage.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Aumente seus ganhos com nosso Programa de Afiliados!</h1>
            <p class="lead mb-4 roboto-light">Promova nossos produtos e ganhe comissões generosas por cada venda realizada através do seu link de afiliado. Nosso programa de afiliados oferece uma ótima oportunidade para aumentar sua renda de forma simples e eficaz.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" (click)="Registrar()" class="main-btn primary-btn">Cadastre-se</button>
                <button type="button" class="main-btn dark-btn btn-hover">Saiba mais</button>
            </div>
        </div>
    </div>
</div>

